<mat-card class="cn-card ">
    <div class="card-title" *ngIf="fullEdit">
        <input class="title-in font" matInput placeholder="Title" id="title" [(ngModel)]="title">

        <div class="pin-div" (click)="togglePin()" matTooltip="Pin note" matTooltipPosition='below'>
            <div role="button" class="pin" [ngClass]="pin ? 'pinned-back' : 'unpinned-back'">
                <!-- <div role="button" class="pin" [ngClass]="pin ? 'pinned-back' : 'pinned-back'">  -->
            </div>
        </div>
    </div>

    <div class="note-input" (click)=displayFull()>
        <div fxLayoutAlign="start">
        <textarea contenteditable="true" aria-multiline="true" role="textbox" Placeholder="Take a note..."
            class="notes-main" tabindex="0" spellcheck="true" id="description" [(ngModel)]="description"></textarea>
        <div class="img-upload" *ngIf="!fullEdit"></div>
        </div>

    </div>

    <div class="card-bottom" fxLayoutAlign="space-between start"  id="bottom" *ngIf="fullEdit">
        <div fxLayout="row" fxLayoutAlign="space-around" fxLayoutGap="20px"> 

            <button mat-icon-button class="example-icon favorite-icon" [matMenuTriggerFor]="Remainder">
                <mat-menu #Remainder="matMenu" class="r-option">
                    <p class="remindHead">Remainder:</p>
                    <button mat-menu-item class="remindbutton">
                        <p>Later today</p>
                        <p>9:00PM</p>
                    </button>
                    <button mat-menu-item class="remindbutton">
                        <p>Tomorrow</p>
                        <p>9:00AM</p>
                    </button>
                </mat-menu>
                <mat-icon mat-list-icon class="material-icons-outlined"matTooltip="Remind me">notifications_none</mat-icon>
            </button>
            <button mat-icon-button class="example-icon favorite-icon">
                <mat-icon mat-list-icon class="material-icons-outlined" matTooltip="collaborater">person_add</mat-icon>
            </button>
            <button mat-icon-button class="example-icon favorite-icon" [matMenuTriggerFor]="Color">
                <mat-menu #Color="matMenu" yPosition="above">
                    <span class="colors">
                        <mat-icon mat-list-icon >done</mat-icon>
                    </span>
                </mat-menu>
                <mat-icon mat-list-icon class="material-icons-outlined" matTooltip="Change Color">color_lens</mat-icon>
            </button>
            <button mat-icon-button class="example-icon favorite-icon">
                <mat-icon mat-list-icon class="material-icons-outlined" matTooltip="Add Image">image</mat-icon>
            </button>
            <button mat-icon-button class="example-icon favorite-icon" glow-icon>
                <mat-icon mat-list-icon class="material-icons-outlined" (click)="toggleAarchive()" *ngIf="!archive; else enabled" matTooltip="Archive">archive</mat-icon>
            </button>
            <ng-template #enabled>
            <button mat-icon-button class="example-icon favorite-icon" glow-icon>
                <mat-icon mat-list-icon class="material-icons-outlined" (click)="toggleAarchive()"  matTooltip="UnAarchive">unarchive</mat-icon>
            </button>
           </ng-template>
            <button mat-icon-button class="example-icon favorite-icon" [matMenuTriggerFor]="moreMenu">
                <mat-menu #moreMenu="matMenu">
                    <button mat-menu-item>Add Label</button>
                    <button mat-menu-item>Delete Label</button>
                </mat-menu>
                <mat-icon mat-list-icon class="material-icons-outlined" matTooltip="More">more_vert</mat-icon>
            </button>
        </div>   
        <div fxLayoutAlign="end start" >
        <div  class="close-note" (click)="addNote()">Close</div>
        </div>
    </div>

    <!-- <app-icons></app-icons> -->
</mat-card>