<div class="example-container"   [class.example-is-mobile]="mobileQuery.matches">
    <mat-toolbar class="example-toolbar ">
        <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
            <button class="menuBtn" mat-icon-button (click)="isExpandable=!isExpandable">
                <mat-icon>menu</mat-icon>
            </button>
            <div routerLink='/home'  fxLayout="row" fxLayoutAlign="center center">
                <img class="logo" src="assets/keep-img.png" alt="Fundoo note logo">
                <h4 class="title">
                    <span style="color:#4285F4">F</span>
                    <span style="color:#DB4437">u</span>
                    <span style="color: #F4B400">n</span>
                    <span style="color: #4285F4">d</span>
                    <span style="color:#0F9D58">o</span>
                    <span style="color:#DB4437">o</span>
                </h4>            
            </div>
        </div>
        <div class="center searchBar " fxHide.lt-md fxFlex=40 fxLayout="row" fxLayoutAlign="start center">
            <div class="container" fxLayoutAlign="center center">
                <button class="button" >
                    <mat-icon>search</mat-icon>
                </button>
            </div>
            <input type="text" placeholder="Search" style="background-color: transparent">
        </div>
      <!-- profile picture -->
      <div class="profile" fxFlex=100 fxLayout="row" fxLayoutAlign="end center">
            <div matTooltip="Search" fxHide.gt-sm fxShow.lt-sm class="container" fxLayoutAlign="center center">
                <button class="button" >
                    <mat-icon>search</mat-icon>
                </button>
            </div>
            <div matTooltip="Refresh" class="container" fxLayoutAlign="center center">
                <button class="button" style="padding-right: 10px;" >
                    <img src="/assets/refresh.svg">
                </button>
            </div>
            <div matTooltip=" List View" fxHide.xs class="container" fxLayoutAlign="center center">
                <button class="button" style="padding-right: 10px;">
                    <img src="/assets/list.svg">
                </button>
            </div>
            <div matTooltip="Settings" class="container" fxLayoutAlign="center center">
                <button class="button button-Settings-logo" >
                    <img src="/assets/settings.svg">
                </button>
            </div>
            <div matTooltip=" List View"  class="container" fxLayoutAlign="center center">
                <button class="button" style="padding-right: 10px;">
                    <mat-icon>view_comfy</mat-icon>
                </button>
            </div>
            <!-- Log Out Icon -->
            <div fxLayout="row"fxLayoutAlign="space-around"  ngClass="log-out-icon">
                <button  color="" matTooltip="Log Out" mat-icon-button [matMenuTriggerFor]="profile">
                    <img mat-card-avatar src="assets/emplpyee.png" class="img2" sizes="2px">
                  </button>
            
                  <mat-menu #profile="matMenu" yPosition="below"xPosition="before" >
            
                    <mat-card-header>
                        <img mat-card-avatar src="assets/emplpyee.png" class="img2" style="padding-left: 35px;">
                        <div fxLayout="column" fxLayoutAlign="center center">
                        <mat-card-title>{{FirstName}} {{LastName}}</mat-card-title>
                        <mat-card-subtitle>{{Email}}</mat-card-subtitle>
                        </div>
                    </mat-card-header>
            
                    <button class="next-button"  (click)=logout() mat-button  style="margin-left: 18px;">
                      <span>Logout</span>
                    </button>
                  </mat-menu>
            </div>
        </div>
    </mat-toolbar>
  
    <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0" >
        <mat-sidenav class="SideBar-Sidenav" #snav  opened="true" mode="side" [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
            <mat-nav-list (mouseover)="isExpandable=true" (mouseleave)="isExpandable=false" >
                <div class="navlist active"(mouseover)="isExpandable=true" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px" mat-list-item routerLink="/dashboard">
                    <button class="navBtn btnPosition" mat-icon-button (mouseover)="isExpandable=true" >
                        <img src="/assets/lightbulb.svg">
                    </button>
                    <p class="navName  " *ngIf="isExpandable">Notes</p>
                </div>
                <div class="navlist" (mouseover)="isExpandable=true" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px" mat-list-item routerLink="/dashboard/remainder">
                    <button class="navBtn btnPosition" mat-icon-button (mouseover)="isExpandable=true">
                        <img src="/assets/download.svg">
                    </button>
                    <p class="navName " *ngIf="isExpandable">Reminder</p>
                </div>
                <div class="navlist" (mouseover)="isExpandable=true" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px" mat-list-item *ngFor="let label of labels" (click)="GetLabel(label)">
                    <button class="navBtn btnPosition" mat-icon-button (mouseover)="isExpandable=true">
                        <mat-icon mat-list-icon class="sidenavLogo">label_outline</mat-icon>
                    </button>
                    <p class="navName " *ngIf="isExpandable">{{label.labelName}}</p>
                </div>
                
                <div class="navlist" (mouseover)="isExpandable=true" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px" mat-list-item >
                    <button class="navBtn btnPosition" mat-icon-button (mouseover)="isExpandable=true">
                        <img src="/assets/label.svg">
                    </button>
                    <p class="navName " *ngIf="isExpandable">Edit Labels</p>
                </div>
                <div class="navlist" (mouseover)="isExpandable=true" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px" mat-list-item routerLink="/dashboard/archive">
                    <button class="navBtn btnPosition" mat-icon-button (mouseover)="isExpandable=true" >
                        <img src="/assets/archive.svg">
                    </button>
                    <p class="navName " *ngIf="isExpandable">Archive</p>
                </div>
                <div class="navlist"  fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px" mat-list-item routerLink="/dashboard/trash">
                    <button class="navBtn btnPosition" mat-icon-button (mouseover)="isExpandable=true">
                        <img src="/assets/delete.svg">
                    </button>
                    <p class="navName" *ngIf="isExpandable">Trash</p>
                </div>
            </mat-nav-list>
        </mat-sidenav>

        <mat-sidenav-content >
            <div style="padding-bottom: 50px;">
                <router-outlet></router-outlet>
            </div>
        </mat-sidenav-content>

    </mat-sidenav-container>
  </div>