
<app-take-notes style="padding-top: 150px;"  class="main-addnote"></app-take-notes>

<div style="display: flex;flex-wrap: wrap;padding: 10px 40px;justify-content: start;" class="main-getnote" >
    <div class="note-container" *ngFor="let note of pinnedNotes;">
        <mat-card class="card" [style.background-color]="note.color">
            <div  class="mainBlock" [style.background-color]="note.color">
                <div fxLayout="row" fxLayoutAlign="space-between center">
                    <strong class="title">{{note.title}}</strong>  
                    <div class="pin-class">
                        <button class="buttons" *ngIf="note.pin" (click)="UnPinIt(note); $event.stopPropagation();" mat-button
                        mat-icon-button>
                        <span matTooltip="pin note">
                            <img class="icon" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij4KICA8cGF0aCBmaWxsPSJub25lIiBkPSJNMCAwaDI0djI0SDB6Ii8+CiAgPHBhdGggZmlsbD0iIzAwMCIgZD0iTTE3IDRhMiAyIDAgMCAwLTItMkg5Yy0xLjEgMC0yIC45LTIgMnY3bC0yIDN2Mmg2djVsMSAxIDEtMXYtNWg2di0ybC0yLTNWNHoiLz4KPC9zdmc+Cg==">
                        </span>
                        </button>
                    </div>    

                </div>
                <div id="description" #description contenteditable="false" aria-multiline="true" role="textbox"
                    class="font n1" dir="ltr" [style.background-color]="note.color">{{note.description}}</div>

                
                

            </div>



        </mat-card>
    </div>
</div>


---------------------------------------------------------------------------------
<div style="display: flex;flex-wrap: wrap;padding: 10px 40px;justify-content: start;" class="main-getnote" >
    <div class="note-container" *ngFor="let note of unPinnedNotes;">
        <mat-card class="card" [style.background-color]="note.color">
            <div  class="mainBlock" [style.background-color]="note.color">
                <div fxLayout="row" fxLayoutAlign="space-between center">
                    <strong class="title">{{note.title}}</strong>  
                    <div class="pin-class">
                        <button *ngIf="!note.pin" (click)="PinIt(note);$event.stopPropagation();" mat-button
                        mat-icon-button>
                        <span matTooltip="pin note">
                            <img class="icon" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij4KICA8cGF0aCBmaWxsPSJub25lIiBkPSJNMCAwaDI0djI0SDB6Ii8+CiAgPHBhdGggZmlsbD0iIzAwMCIgZD0iTTE3IDR2N2wyIDN2MmgtNnY1bC0xIDEtMS0xdi01SDV2LTJsMi0zVjRjMC0xLjEuOS0yIDItMmg2YzEuMTEgMCAyIC44OSAyIDJ6TTkgNHY3Ljc1TDcuNSAxNGg5TDE1IDExLjc1VjRIOXoiLz4KPC9zdmc+Cg==">
                        </span>
                        </button>
                    </div>    

                </div>
                <div id="description" #description contenteditable="false" aria-multiline="true" role="textbox"
                    class="font n1" dir="ltr" [style.background-color]="note.color">{{note.description}}</div>
                

            </div>

        </mat-card>
    </div>
</div>
---------------------------------------------------------------------------------

