
<div class="Notes-Pin-Unpin" fxLayout="column" fxLayoutGap="80px">
    <div>
        <app-take-notes style="padding-top: 150px;"  class="main-addnote"></app-take-notes>
    </div>
    <div style="display: flex;flex-wrap: wrap;padding: 10px 180px;justify-content: start;" class="main-getnote" >
        <div class="neVct-LS81yb-tJHJj" >PINNED</div>
        <div class="note-container" *ngFor="let note of pinnedNotes;">
            <mat-card class="card" [style.background-color]="note.color">
                <div  class="mainBlock" [style.background-color]="note.color">
                    <div fxLayout="row" fxLayoutAlign="space-between center">
                        <strong class="title">{{note.title}}</strong>  
                        <div class="pin-class">
                            <button class="buttons" *ngIf="note.pin" (click)="UnPinIt(note); " mat-button
                            mat-icon-button>
                            <span matTooltip="pin note">
                                <img class="icon" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij4KICA8cGF0aCBmaWxsPSJub25lIiBkPSJNMCAwaDI0djI0SDB6Ii8+CiAgPHBhdGggZmlsbD0iIzAwMCIgZD0iTTE3IDRhMiAyIDAgMCAwLTItMkg5Yy0xLjEgMC0yIC45LTIgMnY3bC0yIDN2Mmg2djVsMSAxIDEtMXYtNWg2di0ybC0yLTNWNHoiLz4KPC9zdmc+Cg==">
                            </span>
                            </button> 
                        </div>    

                    </div>
                    <div id="description" #description contenteditable="false" aria-multiline="true" role="textbox"
                        class="font n1" dir="ltr" [style.background-color]="note.color">{{note.description}}</div>
                    <div fxLayout="row" fxLayoutAlign="space-around end" > 

                        <button mat-icon-button class="example-icon favorite-icon icon" [matMenuTriggerFor]="Remainder">                            
                            <mat-menu #Remainder="matMenu" class="r-option">
                                <p class="r-par">Remainder:</p>
                                <button mat-menu-item class="remainder-but" fxLayout="row" fxLayoutGap="20px" >
                                  <p>Later today</p>
                                  <p>8:00PM</p>
                                </button>
                                <button mat-menu-item class="remainder-but" fxLayout="row" fxLayoutGap="20px">
                                  <p>Tomorrow</p>
                                  <p>8:00AM</p>
                                </button>
                                <button mat-menu-item class="remainder-but" fxLayout="row" fxLayoutGap="20px">
                                  <p>Next Week</p>
                                  <p>{{ note.reminder }}</p>
                                </button>
                            </mat-menu>
                            <mat-icon mat-list-icon class="material-icons-outlined"matTooltip="Remind me">notifications_none</mat-icon>
                        </button>
                        <button mat-icon-button class="example-icon favorite-icon icon">
                            <mat-icon mat-list-icon class="material-icons-outlined" matTooltip="collaborater">person_add</mat-icon>
                        </button>
                        <button mat-icon-button class="example-icon favorite-icon icon" [matMenuTriggerFor]="colorMenu"  matTooltip="Change Color">
                            <mat-menu #colorMenu="matMenu" yPosition="above">
                                <div class="get_note_color_menu">
                                    <span class="colors" (click)="ChangeColor(colors[i].color,note)"  [style.background-color]="colors[i].color"
                                            matTooltip="{{colors[i].toolTip}}" *ngFor="let color of colors;let i=index">
                                            <mat-icon mat-list-icon *ngIf="colors[i].icon">done</mat-icon>
                                    </span>
                                </div>
                            </mat-menu>
                            <mat-icon mat-list-icon class="material-icons-outlined">color_lens</mat-icon>
                        </button>
                        <button mat-icon-button class="example-icon favorite-icon icon">
                            <mat-icon mat-list-icon class="material-icons-outlined" matTooltip="Add Image">image</mat-icon>
                        </button>
                        <button mat-icon-button class="example-icon favorite-icon icon" (click)="ToggleAarchive(note);" glow-icon>
                            <mat-icon mat-list-icon class="material-icons-outlined" matTooltip="Archive">archive</mat-icon>
                        </button>
                        <button mat-icon-button class="example-icon favorite-icon icon" [matMenuTriggerFor]="moreMenu">
                            <mat-menu #moreMenu="matMenu">                                
                                <button (click)="DeleteNote(note);" mat-menu-item>Delete note</button>
                                <button mat-menu-item>Add label</button>
                            </mat-menu>
                            <mat-icon mat-list-icon class="material-icons-outlined" matTooltip="More">more_vert</mat-icon>
                        </button>
                    </div>   

                </div>



            </mat-card>
        </div>
    </div>

    
    <div style="display: flex;flex-wrap: wrap;padding: 10px 180px;justify-content: start;" class="main-getnote" >
        <div class="neVct-LS81yb-tJHJj" >OTHERS</div>
        <div class="note-container" *ngFor="let note of unPinnedNotes;">
            <mat-card class="card" [style.background-color]="note.color">
                <div  class="mainBlock" fxLayout="column"  [style.background-color]="note.color">
                    <div fxLayout="row" fxLayoutAlign="space-between center">
                        <strong class="title">{{note.title}}</strong>  
                        <div class="pin-class">
                            <button *ngIf="!note.pin" (click)="PinIt(note);" mat-button
                            mat-icon-button>
                            <span matTooltip="pin note">
                                <img class="icon" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij4KICA8cGF0aCBmaWxsPSJub25lIiBkPSJNMCAwaDI0djI0SDB6Ii8+CiAgPHBhdGggZmlsbD0iIzAwMCIgZD0iTTE3IDR2N2wyIDN2MmgtNnY1bC0xIDEtMS0xdi01SDV2LTJsMi0zVjRjMC0xLjEuOS0yIDItMmg2YzEuMTEgMCAyIC44OSAyIDJ6TTkgNHY3Ljc1TDcuNSAxNGg5TDE1IDExLjc1VjRIOXoiLz4KPC9zdmc+Cg==">
                            </span>
                            </button>
                        </div>    

                    </div>
                
                        <div id="description" #description contenteditable="false" aria-multiline="true" role="textbox"
                            class="font n1" dir="ltr" [style.background-color]="note.color">{{note.description}}</div>
                        
                            <div fxLayout="row" fxLayoutAlign="space-around end" > 

                                <button mat-icon-button class="example-icon favorite-icon icon" [matMenuTriggerFor]="Remainder">
                                    <mat-menu #Remainder="matMenu" class="r-option">
                                        <p class="r-par">Remainder:</p>
                                        <button mat-menu-item class="remainder-but" fxLayout="row" fxLayoutGap="20px" >
                                          <p>Later today</p>
                                          <p>8:00PM</p>
                                        </button>
                                        <button mat-menu-item class="remainder-but" fxLayout="row" fxLayoutGap="20px">
                                          <p>Tomorrow</p>
                                          <p>8:00AM</p>
                                        </button>
                                        <button mat-menu-item class="remainder-but" fxLayout="row" fxLayoutGap="20px">
                                          <p>Next Week</p>
                                          <p>{{ note.reminder }}</p>
                                        </button>
                                    </mat-menu>
                                    <mat-icon mat-list-icon class="material-icons-outlined"matTooltip="Remind me">notifications_none</mat-icon>
                                </button>
                                <button mat-icon-button class="example-icon favorite-icon icon">
                                    <mat-icon mat-list-icon class="material-icons-outlined" matTooltip="collaborater">person_add</mat-icon>
                                </button>
                                <button mat-icon-button class="example-icon favorite-icon icon" [matMenuTriggerFor]="colorMenu"  matTooltip="Change Color">
                                    <mat-menu #colorMenu="matMenu" yPosition="above">
                                        <div class="get_note_color_menu">
                                            <span class="colors" (click)="ChangeColor(colors[i].color,note)"  [style.background-color]="colors[i].color"
                                                    matTooltip="{{colors[i].toolTip}}" *ngFor="let color of colors;let i=index">
                                                    <mat-icon mat-list-icon *ngIf="colors[i].icon">done</mat-icon>
                                            </span>
                                        </div>
                                    </mat-menu>
                                    <mat-icon mat-list-icon class="material-icons-outlined">color_lens</mat-icon>
                                </button>
                                <button mat-icon-button class="example-icon favorite-icon icon">
                                    <mat-icon mat-list-icon class="material-icons-outlined" matTooltip="Add Image">image</mat-icon>
                                </button>
                                <button mat-icon-button class="example-icon favorite-icon icon" (click)="ToggleAarchive(note);" glow-icon>
                                    <mat-icon mat-list-icon class="material-icons-outlined" matTooltip="Archive">archive</mat-icon>
                                </button>
                                <button mat-icon-button class="example-icon favorite-icon icon" [matMenuTriggerFor]="moreMenu">
                                    <mat-menu #moreMenu="matMenu">                                
                                        <button (click)="DeleteNote(note);" mat-menu-item>Delete note</button>
                                        <button mat-menu-item>Add label</button>
                                    </mat-menu>
                                    <mat-icon mat-list-icon class="material-icons-outlined" matTooltip="More">more_vert</mat-icon>
                                </button>
                            </div>                 
                        </div>
            </mat-card>
        </div>
    </div>
</div>
