<div class="container">
    <mat-card class="card">
            <div>
                <div class="divContainer">
                    <form class="formContainer" [formGroup]="LoginForm">
                        <div >
                            <h4 class="title">
                                <span style="color:#4285F4">F</span>
                                <span style="color:#DB4437">u</span>
                                <span style="color: #F4B400">n</span>
                                <span style="color: #4285F4">d</span>
                                <span style="color:#0F9D58">o</span>
                                <span style="color:#DB4437">o</span>
                                </h4>
                        </div>        
                        <mat-card-title class="matcardtitle">Sign in</mat-card-title> 
                        
                        <div class="userName">
                            <mat-form-field appearance="outline">
                                <mat-label>Email or Phone</mat-label>
                                <input formControlName="Email" matInput>
                                <mat-error >{{ getEmailInvalidMessage()}} </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="password">
                            <mat-form-field appearance="outline">
                                <mat-label>Password</mat-label>
                                <input formControlName="Password" [type]="hide ? 'password' : 'text'" matInput>
                                <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                <mat-error>{{getPasswordInvalidMessage()}} </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="show-password">
                            <div><a mat-flat-button class="Signin"[routerLink]="['/forgotPassword']">Forgot Password ?</a></div>
                            
                        </div>
                        <div class = "button-signin">
                            <a mat-flat-button class="Signin" [routerLink]="['/register']" >Create account</a>
                            <button mat-raised-button>Login</button>
                        </div>
                    </form>
                </div>
                
            </div>
    </mat-card>
</div>