<div style="overflow: hidden !important;">
<div class="container">
    <mat-card class="card">
            <div>
                <div class="divContainer">
                    <form class="formContainer" [formGroup]="ResetPasswordForm">
                        <div >
                            <h4 class="title">
                                <span style="color:#4285F4">F</span>
                                <span style="color:#DB4437">u</span>
                                <span style="color: #F4B400">n</span>
                                <span style="color: #4285F4">d</span>
                                <span style="color:#0F9D58">o</span>
                                <span style="color:#DB4437">o</span>
                                </h4>
                        </div>        
                        <mat-card-title class="matcardtitle">Reset Password</mat-card-title> 
                        <mat-card-title class="matcardSubtitle">Enter your phone number or recovery email</mat-card-title> 
                        
                        <div class="userName ">
                        </div>
                        <div>
                            <mat-form-field appearance="outline">
                                <mat-label>Password</mat-label>
                                <input formControlName="Password" [type]="hide1 ? 'password' : 'text'" matInput>
                                <mat-icon matSuffix (click)="hide1 = !hide1">{{hide1 ? 'visibility_off' : 'visibility'}}</mat-icon>
                                <mat-error>{{getPasswordInvalidMessage()}} </mat-error>
                            </mat-form-field>
                        </div>
                        <div>
                            <mat-form-field appearance="outline">
                                <mat-label>Confirm</mat-label>
                                <input formControlName="ConfirmPassword" [type]="hide2 ? 'password' : 'text'" pattern="{{ this.ResetPasswordForm.value.Password}}"matInput>
                                <mat-icon matSuffix (click)="hide2 = !hide2">{{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
                                <mat-error *ngIf="ResetPasswordForm.controls['ConfirmPassword'].invalid">Password doesn't match</mat-error>
                            </mat-form-field>
                            </div>
                        <div class = "button-signin">
                            <button mat-raised-button (click)="UpdatePassword()">Reset</button>
                        </div>
                    </form>
                </div>
            </div>
    </mat-card>
</div>
</div>